.board {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    height: 500px;
    width: 500px;
    padding: 40px;
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: center;
}