.board {
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    min-height: 100vh;
    min-width: 100vh;
    padding: 40px;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: start;
    justify-content: space-between;
}

